{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    dbIndel - In-del
{% endblock %}
{% block css %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" charset="UTF-8" src="{% static 'js/biodalliance.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static 'js/plotly.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static 'js/indel.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Description</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <dl class="dl-horizontal">
                            <dt>In-Del</dt>
                            <dd>
                                {{ indel.chrom }}:{{ indel.start }}-{{ indel.end }}
                                {{ indel.indel }}
                                {{ indel.sequence }}
                            </dd>
                            <dt>Enhancer Region</dt>
                            <dd>{{ indel.chrom }}:{{ indel.peak_start }}-{{ indel.peak_end }}</dd>
                            <dt>Related Gene</dt>
                            <dd><a href="#gene">{{ indel.related_gene.symbol }}</a></dd>
                            <dt>Annotation</dt>
                            <dd>{{ indel.annotation }}</dd>
                            <dt>Ref-Reads</dt>
                            <dd>{{ indel.ref_reads }}</dd>
                            <dt>InDel-Reads</dt>
                            <dd>{{ indel.ins_reads }}</dd>
                            <dt>Distance to TSS</dt>
                            <dd>{{ indel.tss_distance }}</dd>
                            <dt>Nearest Refseq</dt>
                            <dd>{{ indel.nearest_refseq }}</dd>
                        </dl>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <dl class="dl-horizontal">
                            <dt>Sample</dt>
                            <dd><a href="{% url "sample" indel.sample.id %}">{{ indel.sample.name }}</a></dd>
                            <dt>Biosample Type</dt>
                            <dd>{{ indel.sample.biosample_type }}</dd>
                            <dt>Organ</dt>
                            <dd>{{ indel.sample.organ }}</dd>
                            <dt>Cell Type</dt>
                            <dd>{{ indel.sample.cell_type }}</dd>
                            <dt>Remark</dt>
                            <dd>{{ indel.sample.remark }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary" id="gene">
            <div class="panel-heading">
                <h3 class="panel-title">Related Gene</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <dl class="dl-horizontal">
                            <dt>Gene ID</dt>
                            <dd><a target="_blank"
                                   href="http://www.ncbi.nlm.nih.gov/gene/{{ indel.related_gene.id }}">{{ indel.related_gene.id }}</a>
                            </dd>
                            <dt>Official Symbol</dt>
                            <dd>{{ indel.related_gene.symbol }}</dd>
                            <dt>Official Full Name</dt>
                            <dd>{{ indel.related_gene.full_name }}</dd>
                            <dt>Ensembl ID</dt>
                            <dd><a target="_blank"
                                   href="http://www.ensembl.org/id/{{ indel.related_gene.ensembl }}">{{ indel.related_gene.ensembl }}</a>
                            </dd>
                            <dt>GeneCards</dt>
                            <dd><a target="_blank"
                                   href="http://www.genecards.org/cgi-bin/carddisp.pl?gene={{ indel.related_gene.symbol }}">{{ indel.related_gene.symbol }}</a>
                            </dd>
                            <dt>Also know as</dt>
                            <dd>{{ indel.related_gene.know_as }}</dd>
                            <dt>DGIdb</dt>
                            <dd><a target="_blank"
                                   href="http://www.dgidb.org/interaction_search_results?genes={{ indel.related_gene.symbol }}">{{ indel.related_gene.symbol }}-drug
                                interaction</a></dd>
                            {% regroup cancers by cancer as cancers %}
                            {% if cancers %}
                                <dt>GWAS</dt>
                                <dd>

                                    {% for cancer in cancers %}
                                        <a tabindex="0" role="button" class="cancer" data-trigger="focus"
                                           data-toggle="popover" title="PubMed" data-content="
                                            {% for pubmed in cancer.list %}
                                                   <a target='_blank' href='https://www.ncbi.nlm.nih.gov/pubmed/{{ pubmed.pmid }}'>{{ pubmed.pmid }}</a><br/>
                                            {% endfor %}
                                        ">{{ cancer.grouper }}</a>
                                        {% if not forloop.last %}
                                            |
                                        {% endif %}
                                    {% endfor %}
                                </dd>
                            {% endif %}

                            {% if indel.related_gene.fusion != 'N\A' or indel.related_gene.possible_tsg != 'N\A' or indel.related_gene.tsg != 'N\A' or indel.related_gene.possible_oncogene != 'N\A' or indel.related_gene.oncogene != 'N\A' %}
                                <dt>Role in Cancer</dt>
                                <dd>
                                    {% if indel.related_gene.fusion != 'N\A' %}
                                        <span title="fusion" class="fusion">{{ indel.related_gene.fusion }}</span>
                                    {% endif %}
                                    {% if indel.related_gene.possible_tsg != 'N\A' %}
                                        <span title="possible TSG"
                                              class="tsg">{{ indel.related_gene.possible_tsg }}</span>
                                    {% endif %}
                                    {% if indel.related_gene.tsg != 'N\A' %}
                                        <span title="TSG" class="tsg">{{ indel.related_gene.tsg }}</span>
                                    {% endif %}
                                    {% if indel.related_gene.possible_oncogene != 'N\A' %}
                                        <span title="possible oncogene"
                                              class="oncogene">{{ indel.related_gene.possible_oncogene }}</span>
                                    {% endif %}
                                    {% if indel.related_gene.oncogene != 'N\A' %}
                                        <span title="oncogene" class="oncogene">{{ indel.related_gene.oncogene }}</span>
                                    {% endif %}
                                </dd>
                            {% endif %}
                        </dl>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <dl class="dl-horizontal">
                            <dt>Summary</dt>
                            <dd>{{ indel.related_gene.summary }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Enhancer</h3>
            </div>
            <div class="panel-body">
                <div class="row" id="biodalliance"></div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Mapping</h3>
            </div>
            <div class="panel-body">
                <div class="row" id="mapping"></div>
            </div>
        </div>

        {% if indel.sample.genome != 'mm10' %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Expression</h3>
                </div>
                <div class="panel-body">
                    <div class="row" id="expression"></div>
                    <div class="row" id="ccle"></div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Survival</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form class="form-horizontal">

                            <div class="form-group col-lg-5 col-md-6 col-sm-12">
                                <label for="cancer" class="col-lg-2 control-label">Cancer:</label>
                                <div class="col-lg-10">
                                    <select class="form-control" id="cancer">
                                        <option value="blca">BLCA</option>
                                        <option value="brca">BRCA</option>
                                        <option value="cesc">CESC</option>
                                        <option value="chol">CHOL</option>
                                        <option value="coadread">COADREAD</option>
                                        <option value="dlbc">DLBC</option>
                                        <option value="esca">ESCA</option>
                                        <option value="gbm">GBM</option>
                                        <option value="hnsc">HNSC</option>
                                        <option value="kich">KICH</option>
                                        <option value="kirc">KIRC</option>
                                        <option value="kirp">KIRP</option>
                                        <option value="laml">LAML</option>
                                        <option value="lgg">LGG</option>
                                        <option value="lihc">LIHC</option>
                                        <option value="luad">LUAD</option>
                                        <option value="lusc">LUSC</option>
                                        <option value="ov">OV</option>
                                        <option value="paad">PAAD</option>
                                        <option value="prad">PRAD</option>
                                        <option value="sarc">SARC</option>
                                        <option value="skcm">SKCM</option>
                                        <option value="stad">STAD</option>
                                        <option value="tgct">TGCT</option>
                                        <option value="thca">THCA</option>
                                        <option value="thym">THYM</option>
                                        <option value="ucec">UCEC</option>
                                        <option value="uvm">UVM</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-lg-5 col-md-6 col-sm-12">
                                <label for="threshold" class="col-lg-2 control-label">Threshold:</label>
                                <div class="col-lg-10">
                                    <input type="number" value="2.0" id="threshold" class="form-control">
                                </div>
                            </div>

                            <div class="form-group col-lg-2 col-md-12 col-sm-12" align="center">
                                <label> </label>
                                <button type="button" class="btn btn-primary" id="plot_survival">
                                    Plot
                                </button>
                            </div>

                        </form>
                    </div>

                    <div class="row" id="survival" align="center"></div>

                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}
