{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block title %}
    dbIndel - Home
{% endblock %}
{% block scripts %}
    <script type="text/javascript" charset="UTF-8" src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="jumbotron masthead" style="background: white">
        <div class="container" style="background: white">
            <div class="col-lg-7 col-sm-12">
	            <div class="row page-header-title">
		            <h1 style="margin: 0"><b class="bold-color">dbInDel</b></h1>
                    <h2>a <b class="bold-color">d</b>ata<b class="bold-color">b</b>ase of<br><b class="bold-color">In</b>sertion/<b class="bold-color">Del</b>etion Variants in Enhancer</h2>
	            </div>


                <div class="row">
                    <form class="form-group" style="padding: 0 5%" method="post" action="/search" id="firpost">
                        <div class="input-group" id="quick_search">
                            <input type="text" class="form-control" name="gene" placeholder="Quick search a gene symbol or ID. eg. TAL1" id="fir">
                            <span class="input-group-btn"><button id="qs" class="btn btn-primary" type="submit">Quick Search</button></span>
                        </div>
                    </form>
                </div>

<script>

</script>

		<div id="index_carousel" class="carousel slide" data-interval="5000">
		  <div class="carousel-inner">
		    <div class="item active">
		      <img class="img-responsive" src="/static/img/Enhancer-associated_InDel_model.png">
		    </div>
		    <div class="item">
		      <img class="img-responsive" src="/static/img/An_Enhancer-Associated_Insertion_of_TAL1_in_Jurkat.png">
		    </div>
		    <div class="item">
		      <img class="img-responsive" src="/static/img/An_Enhancer-Associated_Insertion_of_LMO2_in_MOLT4.png">
		    </div>
			<div class="item">
		      <img class="img-responsive" src="/static/img/Biosample_type.png">
		    </div>
			<div class="item">
		      <img class="img-responsive" src="/static/img/Cancer_type.png">
		    </div>
            <div class="item">
              <img class="img-responsive" src="/static/img/Frequencies_of_Enhancer-associated_InDels_genes_in_Cancer_Samples_index.png">
            </div>

		  </div>
		  <a class="carousel-control left" href="#index_carousel" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="carousel-control right" href="#index_carousel" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
		</div>

            </div>
            <div class="col-lg-5 col-sm-12">
                <div class="row">
                    <h3 class="title">What is InDels in Enhancer</h3>
                    <p class="content">Human cancer genome contains thousands of noncoding mutations, including small and large Insertions and Deletions (InDels).
		      Functional studies have revealed that some of these InDels are capable of either creating neomorphic enhancers or altering the activities of existing enhancers.
		      <sup>
			<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/?term=25383969">1,</a>
		      </sup>
		      <sup>
			 <a  target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/?term=25394790">2,</a>
		      </sup>
		      <sup>
			<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/?term=28181482">3</a>
                      </sup>
                </div>
                <div class="row">
                    <h3 class="title">What is dbInDel</h3>
                    <p class="content">dbInDel contains <span style="color: blue">{{ ins }}</span>  insertions and <span style="color: blue">{{ dels }} </span> deletions in 593,655 putative enhancers detected from 254 human and 21 murine samples based on computational analyses of H3K27ac ChIP-Seq data (for detailed information, please see Statistics).
					To facilitate the analysis of target transcripts of indel-containing enhancers, the website integrates mRNA expression data and survival analysis in tumor and normal samples.
					Moreover, our database identifies the potential recruitment of transcriptional factors as a result of enhancer-associated indels.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
