#biodalliance>p, #mapping>p, #expression>p, #survival>p{
    text-align: center;
    font-size: 1em;
}

#search_tabs{
    margin-bottom: 20px;
}

.fusion{
    background-color: #9954bb;
    color: #fff
}

.tsg{
    background-color: #ff7518;
    color: #fff;
}

.oncogene{
    background-color: #cc002e;
    color: #fff;
}

.table{
    text-align: center;
}

/*Navigation Bar*/
.navbar-default {
    background-color: #1a39d6;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #f4f308;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #f4f308;
    background-color: transparent;
}
.navbar-list .navbar-brand:hover, .navbar-list .navbar-nav>li>a:hover {
    color: #f4f308;
    background-color: transparent;
}
.navbar-list .navbar-brand:focus, .navbar-list .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #1967BE;
}
.navbar-box li a {
    font-size: 18px;
}
.navbar-right {
    font-size: 18px;
}
.navbar-brand {
    font-size: 23px;
}

.title {
    font-weight: bold;
    margin: 0;
    text-align: center;
    font-size: 30px;
}
p.content {
    font-size: 2rem;
    text-align: justify;
    font-weight: 500;
    margin: 0 !important;
}
.carousel {
    margin: 0 3%;
    padding-top: 1.1%;
}

.page-header-title h1,h2{
    text-align: center;
}
.page-header-title h1{
    margin: 7px 0;
}
.page-header-title h2{
    margin-top: 0 !important;
}

.bold-color{
    color: #2780e3;
}

.jumbotron {
    padding: 0 !important;
    margin-bottom: 0 !important;
}

.help-link h4, h5 {
    font-weight: bold;
}

.statistics_plot {
    height: 400px;
    text-align: center;
}
.statistics_content .panel-primary>.panel-heading {
    background-color: #2780e3 !important;
    border-color: #2780e3 !important;
}

.biosample_statistics_plot {
    height: 300px;
    text-align: center;
}

.heatmap_plot {
    padding: 3% 10%;
}
.heatmap_plot img{
    width: 100%;
    height: 100%;
}
.help-img {
    width: 90%;
    margin: 0 auto;
}
.footer-container {
    border-top: 1px solid #E6E6E6;
    margin-top: 10.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}